@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
    .center-child {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .main-heading {
      font-size: clamp(2rem, 5vw, 4rem);
    }
    .sub-heading{
      font-size: clamp(1.25rem, 3vw, 3rem);
    }
  
    .paragraph-text {
      font-size: clamp(1rem, 2.5vw, 3rem);
    }
  }
  
  .description, .confession {
    scrollbar-width: none;
  }
  
  .description-date{
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
  } 